<h1 class='myHeader'>Edit Event</h1>

<%= render 'form', event: @event %>

<div class='textcenter'>

<p class="btn btn-dark"><%= link_to 'Show Details', @event %></p>


<p class="btn btn-dark"><%= link_to 'Back', events_path %></p>
</div>